html {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  line-height: 1.3;
  pading: 0 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  margin: auto;
  padding: auto;
}

h1 + p {
  font-style: italic;
}
blockquote {
  color: #999;
}
