html {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  line-height: 1.3;
  padding: 0 1rem 0 1rem;
  font-size: 1.125rem;
   color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  margin: auto;
  margin-bottom: 0;
  font-weight: normal;
}

h1 + p {
  font-style: italic;
  margin-top: 0em;
  margin-bottom: 0;
  border-bottom: 1px solid;
  padding-top: 0.05em;
  padding-bottom: 1em;
  border-color: #555;
}
blockquote {
  color: #999;
  margin: 1.5em;
  font-size: 1.125rem;
  border-box: 2px;
}

body {
  margin: 0 0 0 0;
}

ol li {
  margin-left: -1rem;
}

article {
  margin-top: 0em;
  margin-bottom: 0;
  border-bottom: 1px solid;
  padding-top: 0.05em;
  padding-bottom: 1em;
  border-color: #555;
}
